body{
  font-family: 'Fjalla One', sans-serif;
  background-color: #A3A3A3;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  user-select: none;
}

h1, h3{
  margin: 0 auto;
  text-align: center;
}

h1{
  margin-top: 1%;
  margin-bottom: 1.5%;
  font-size: 3em;
}

header>p{
  margin: 0 auto;
  text-align: justify;
  max-width: 50%;
  line-height: 1.5;
  letter-spacing: 1.5;
  padding-top: 1%;
}

#top-line{
  margin-top: 1%;
  text-align: center;
}

#italic{
  font-style: italic;
}

.input-box{
  margin-top: 3%;
}

#input-letter{
  width: 175px;
  height: 25px;
  border: 1px solid black;
  color: black;
  font-size: 18px;
}

#submit-button{
  width: 125px;
  height: 27px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 3px;
}

main{
  margin-left: 16%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
  background-image: url(img/noose.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 950px;
  height: 600px;
}

.guess-word{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-right: 30%;
  margin-top: 10%;
}

.guesses{
  position: absolute;
  bottom: 10%;
  left: 30%;
  color: white;
  font-size: 20px;
  letter-spacing: 1.5;
  text-align: center;
}

.noose{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 2.5%;
}

footer{
  margin-top: 5%;
}

@media (max-width: 600px) {
  main{
    width: 500px;
    height: 316px;
    margin-left: 0;
  }
}
